/* Menu.css */
.section-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.menu-item {
  width: calc(50% - 30px);
  height: 120px;
  margin-top: 60px;
}

.item-info {
  display: flex;
}

.item-info header {
    width: 560px;
}

.item-info h4 {
  margin-bottom: 26px;
  font-family: var(--heading-font);
  font-size: var(--font-size-text);
}

.item-info p {
  font-family: var(--body-font);
  font-size: var(--font-size-sm-text);
  opacity: 0.5;
}
