.footer {
  padding: 40px 0;
  background-color: var(--bg-dark);
  color: var(--text-color-light);
  font-family: var(--body-font);
  font-weight: var(--font-weight-bold);
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}

.footer-wrapper h1 {
  font-size: var(--font-size-heading);
}

.footer-wrapper h3 {
  font-size: var(--font-size-text);
}

.footer p {
  text-align: center;
  line-height: 1.6;
}

.contact {
display: flex;

  text-align: center;
}

.contact p {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .footer-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-wrapper h1 {
    font-size: var(--font-size-heading-mobile);
  }

  .footer-wrapper h3 {
    font-size: var(--font-size-text-mobile);
  }

  .footer-title {
    margin-bottom: 20px;
  }

  .working-hours {
    display: none;
  }
}
