.footer {
    padding: 40px 0;
    background-color: var(--bg-dark);
    color: var(--text-color-light);
    font-family: var(--body-font);
    font-weight: var(--font-weight-bold);
    
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}

.footer-wrapper h1 {
    font-size: var(--font-size-heading);
}

.footer-wrapper h3  {
    font-size: var(--font-size-text);
}

.footer p {
    text-align: center;
    line-height: 1.6;
}

.contact {
    display: flex;
    align-items: center;
   
}

.contact p {
    margin-left: 10px;
}