nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  z-index: 999;
  background-color: var(--bg-light);
}

nav ul {
  display: flex;
  position: absolute;
  top: 32px;
  left: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 12px 32px;
  font-family: var(--heading-font);
  font-size: var(--nav-font-size);
  font-weight: var(--nav-font-weight);
  text-transform: var(--font-uppercase-transform);
}

.cafinoLogo {
  width: 260px;
  height: 130px;
  position: absolute;
  top: 18px;
  left: 610px;
  z-index: 2;
  border-radius: 10px;
}

.social-icons i {
  color: var(--bg-gold);
}

nav .menu {
  display: none;
  position: absolute;
  top: 12px;
  right: 8px;
  width: 64px;
  height: 64px;
}
