nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  z-index: 999;
  background-color: var(--bg-light);
}

nav ul {
  display: flex;
  position: absolute;
  top: 32px;
  left: 20px;
}

nav ul li {
  list-style: none;
  width: 170px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  position: relative;
  overflow: hidden;
}

nav ul li:before {
  content: '';
  position: absolute;
  top:0;
  left: -100%;
  width: 100%;
  height: 4px;
  background-color: var(--bg-gold);
  transition: all 0.5s;
}

nav ul li:hover:before {
  left:0;
}

nav ul li:after{
  content: '';
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background-color: var(--bg-gold);
  transition: all 0.5s;
}

nav ul li:hover:after {
  right: 0;
}

nav ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: black;
  font-family: var(--heading-font);
  font-size: var(--nav-font-size);
  font-weight: var(--nav-font-weight);
  text-transform: var(--font-uppercase-transform);
}

span:before {
  content: '';
  position: absolute;
  top:-100%;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: var(--bg-gold);
  transition: all 0.5s;
}

nav ul li:hover span:before {
  top: 0;
}

span:after {
  content: '';
  position: absolute;
  bottom:-100%;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: var(--bg-gold);
  transition: all 0.5s;
}

nav ul li:hover span:after {
  bottom: 0;
}

.cafinoLogo {
  width: 260px;
  height: 130px;
  position: absolute;
  top: 18px;
  left: 610px;
  z-index: 2;
  border-radius: 10px;
}

.social-icons {
  display: flex;
  margin-right: 52px;
}
.social-icon  {
  color: var(--bg-gold);
  width: 32px;
  height: 32px;
  margin: 10px;
}

nav .menu {
  display: none;
  position: absolute;
  top: 12px;
  right: 8px;
  width: 64px;
  height: 64px;
}
