.header {
    height: 900px;
}

.heading-wrapper{
    color: var(--text-color-light);
    font-family: var(--heading-font);
    position: relative;
    top: 300px;
    left: 300px;
    max-width: 900px;
    text-align: center;
}

.heading-wrapper h3{
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-bold);
}

.heading-wrapper h5 {
    font-size: var(--font-size-subheading);
    font-weight: var(--font-weight-bold);
}

@media (max-width: 767px) {
    .header {
        height: 400px;
    }

    .heading-wrapper{
        position: relative;
        top: 120px;
        left: 60px;
        max-width: 400px;
    }
    .heading-wrapper h3{
        font-size: var(--font-size-heading-mobile);
    }

    .heading-wrapper h5 {
        font-size: var(--font-size-subheading-mobile);
    }
    
}
