* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-light: #ffffff;
  --bg-dark: #080202;
  --bg-gold: #c59764;
  --text-color-light: #ffffff;
  --text-color-dark: #080202;
  --text-color-gold: #c59764;
  --text-color-grey: #d8d9da;
  --spacing: 50px;
  --heading-font: "Cormorant Garamond", serif;
  --body-font: "Jost", sans-serif;
  --secondary-font: Jost, sans-serif;
  --font-weight-bold: 600px;
  --font-weight-regular: 400;
  --font-size-heading: 92px;
  --font-size-subheading: 36px;
  --font-size-text: 24px;
  --nav-font: Jost, sans-serif;
  --nav-font-size: 24px;
  --nav-font-weight: 400;
  --nav-font-letter-spacing: 1px;
  --font-uppercase-transform: uppercase;
}

a {
  text-decoration: none;
}

.btn {
  width: 300px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-bold);
  text-transform: var(--font-uppercase-transform);
  cursor: pointer;
  text-decoration: none;

}

.btn-gold {
  position: relative;
  background-color: var(--bg-gold);
  color: var(--text-color-light);
}

.btn-gold:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: -8px;
  left: -8px;
  border-top: 4px solid var(--bg-gold);
  border-left: 4px solid var(--bg-gold);
  transition: all 0.25s;
}

.btn-gold:hover:before,
.btn-gold:hover:after {
  width: 100%;
  height: 100%;
}

.btn-gold:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -8px;
  right: -8px;
  border-bottom: 4px solid var(--bg-gold);
  border-right: 4px solid var(--bg-gold);
  transition: all 0.25s;
}

.btn-light {
  position: relative;
  left: 280px;
  background-color: var(--bg-light);
  color: var(--text-color-dark);
  margin-top: 30px;
}

.btn-light:before{
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: -8px;
  left: -8px;
  border-top: 4px solid var(--bg-light);
  border-left: 4px solid var(--bg-light);
  transition: all 0.25s;
}

.btn-light:hover:before,
.btn-light:hover:after {
  width: 100%;
  height: 100%;
}

.btn-light:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -8px;
  right: -8px;
  border-bottom: 4px solid var(--bg-light);
  border-right: 4px solid var(--bg-light);
  transition: all 0.25s;
}