.menu-section {
  margin: 180px 80px;
}

.title h2 {
  font-family: var(--heading-font);
  font-size: var(--font-size-heading);
  color: var(--text-color-dark);
  text-align: center;
  margin-bottom: 5px;
}

.title .underline {
  width: 200px;
  height: 1px;
  background-color: var(--text-color-dark);
  margin: 0 auto;
}
